@import "https://fonts.googleapis.com/css?family=Product+Sans";

html {
    overflow: hidden;
    overflow: -moz-hidden-unscrollable;
    font-family: 'Product Sans', 'Inconsolata';
}

body {
    height: 100%;
    width: 100%;
}

nav {
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

ul li {
    display: inline;
    flex-direction: row;
    list-style-type: none;
    padding: 1em;
}

.full {
    height: 100%;
}

/* Header */
#top-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
}

.nav-left {
    justify-content: space-evenly;
    margin-left: 2em;
}

.nav-right {
    justify-content: space-evenly;
    margin-right: 2em;
}

#loginbtn {
    color: white;
    border-radius: 3px;
    font-weight: bold;
    line-height: 20px;
    border: 1px rgb(66, 133, 244);
    background-color: rgb(66, 133, 244);
    padding: .3em .8em;
}

#loginbtn:hover {
    color: black;
    border-radius: 3px;
    font-weight: bold;
    line-height: 20px;
    border-color: 1px #4285f4;
    background-color: #cecece;
    padding: .3em .8em;
}

/* Body */
#img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 13.2em 15em 0 15em;
}

/* Search */
#search-w-icons {
    display: flex;
    justify-content: center;
    margin: 2em auto;
}

.searchbar {
    align-items: center;
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 3.4em;
    width: 582px;
    max-width: 584px;
}

#searchbtns {
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchbtn {
    color: #5c5c5e;
    margin: auto .5em;
    padding: .2em;
}

.searchbtn:hover {
    color: #222222;
    border: #5c5c5e;
    margin: auto .5em;
    padding: .2em;
}

.luckybtn {
    color: #5c5c5e;
    margin: auto .5em;
    padding: .2em;
}

/* Footer */
#bottom-nav {
    position: fixed;
    font-size: larger;
    height: 2.5em;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e6e6e6;
}

#bottom-nav a {
        color: #5c5c5e;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
}

#bottom-nav a:hover {
    text-decoration: underline;
}